In [1]:
import csv
import pandas as pd
import numpy as np
import us

In [2]:
df_2021 = pd.read_csv("PERM_Disclosure_Data_FY2021.csv", low_memory=False)
df_2022 = pd.read_csv("PERM_Disclosure_Data_FY2022_Q1.csv", low_memory=False)

In [3]:
def normalize(data):
    res = data.replace(',', '')
    res = res.replace('.', '')
    res = res.upper()
    return res

def clean_up(data):
    res = data.replace('"', '')
    res = res.replace('\'', '')
    res = res.replace(',', '')
    res = res.replace('  ', '')
    res = res.upper()
    return res

def state_to_code(state_name):
    if state_name == None:
        return state_name
    state_name = ''.join([i for i in state_name if not i.isdigit()])
    state = us.states.lookup(state_name)
    if state == None:
        return state_name
    return state.abbr

In [4]:
df_2021['EMPLOYER_NAME'] = df_2021['EMPLOYER_NAME'].apply(normalize)
df_2022['EMPLOYER_NAME'] = df_2022['EMPLOYER_NAME'].apply(normalize)
companies = pd.read_csv("companies.csv", low_memory=False)
companies

,COMPANY_ID,NAME,ADDRESS_1,ADDRESS_2,CITY,STATE,COUNTRY,ZIP_CODE
0,0,400 CAPITAL MANAGEMENT LLC,510 MADISON AVE,17TH FLOOR,NEW YORK,NY,UNITED STATES OF AMERICA,10025
1,1,ABN AMRO CLEARING CHICAGO LLC,175 W JACKSON BOULEVARD,SUITE 2050,CHICAGO,IL,UNITED STATES OF AMERICA,60604
2,2,ACHELOUS PARTNERS,800 3RD AVENUE,21ST FLOOR,NEW YORK,NY,UNITED STATES OF AMERICA,10022
3,3,AES US SERVICES LLC,4300 WILSON BLVD,NaN,ARLINGTON,VA,UNITED STATES OF AMERICA,22203
4,4,AKUNA CAPITAL LLC,333 S. WABASH AVE.,SUITE 2600,CHICAGO,IL,UNITED STATES OF AMERICA,60604
...,...,...,...,...,...,...,...,...
287,287,WEST COAST FLORIDA ENTERPRISES INC,8090 SUPPLY DRIVE,STE 100,FT. MYERS,FL,UNITED STATES OF AMERICA,33912
288,288,WILLIAM BLAIR COMPANY LLC,150 N. RIVERSIDE PLAZA,NaN,CHICAGO,IL,UNITED STATES OF AMERICA,60606
289,289,WORLDQUANT LLC,1700 EAST PUTNAM AVENUE,NaN,OLD GREENWICH,CT,UNITED STATES OF AMERICA,6870
290,290,WORLDQUANT PREDICTIVE TECHNOLOGIES,575 5TH AVE,NaN,NEW YORK CITY,NY,UNITED STATES OF AMERICA,10017
291,291,XCHANGE FINANCIAL ACCESS LLC,440 S LASALLE ST,SUITE 2900,CHICAGO,IL,UNITED STATES OF AMERICA,60605

In [5]:
companies2 = pd.read_csv("companies_NSCC-MPID_fuzzymatched.csv", low_memory=False)
companies2

,COMPANY_ID,NAME,ADDRESS_1,ADDRESS_2,CITY,STATE,COUNTRY,ZIP_CODE
0,292,C6 CAPITAL SECURITIES LLC,600 Lexington Ave,32nd floor,New York,NY,UNITED STATES OF AMERICA,10022 ...
1,293,NATIONAL ALLIANCE SECURITIES CORPORATION,505 Park Ave,# 502,New York,NY,UNITED STATES OF AMERICA,10022
2,294,RIM SECURITIES LLC,400 Park Ave,NaN,New York,NY,UNITED STATES OF AMERICA,10022 ...
3,295,KMS FINANCIAL SERVICES,2001 6th Ave,#2801,Seattle,WA,UNITED STATES OF AMERICA,98121
4,296,VSR FINANCIAL SERVICES,8620 W 110TH STREET,200,OVERLAND PARK,KS,UNITED STATES OF AMERICA,66210-9651
5,297,ICP SECURITIES LLC,360 Madison Ave,NaN,New York,NY,UNITED STATES OF AMERICA,10017 ...

In [6]:
companies3 = pd.read_csv("companies_H1B_fuzzymatched.csv", low_memory=False)
companies3

     COMPANY_ID                             NAME       CITY STATE
0           298  ROSEWOOD INVESTMENT CORPORATION   NEW YORK    NY
1           299     SEMPER CAPITAL MANAGEMENT LP   NEW YORK    NY
2           300   VOYA INVESTMENT MANAGEMENT LLC    ATLANTA    GA
3           301    HQ CAPITAL PRIVATE EQUITY LLC   NEW YORK    NY
4           302   WATERFALL ASSET MANAGEMENT LLC   NEW YORK    NY
..          ...                              ...        ...   ...
254         552        GATEWOOD WEALTH SOLUTIONS  ST. LOUIS    MO
255         553                  B RILEY FBR INC   NEW YORK    NY
256         554         ALTISOURCE SOLUTIONS INC      PLANO    TX
257         555     PEOPLE'S UNITED ADVISORS INC   NEW YORK    NY
258         556        SOROS FUND MANAGEMENT LLC   NEW YORK    NY

[259 rows x 4 columns]

In [7]:
company_roles = df_2021[df_2021['EMPLOYER_NAME'].isin(companies['NAME']) | df_2021['EMPLOYER_NAME'].isin(companies2['NAME']) | df_2021['EMPLOYER_NAME'].isin(companies3['NAME'])].copy()
company_roles['WORKSITE_CITY'] = company_roles['WORKSITE_CITY'].str.upper()
company_roles['WORKSITE_STATE'] = company_roles['WORKSITE_STATE'].str.upper()
company_roles['JOB_TITLE'] = company_roles['JOB_TITLE'].str.upper()
company_roles['JOB_TITLE'] = company_roles['JOB_TITLE'].apply(clean_up)
roles = company_roles['JOB_TITLE'].unique()
roles

array(['AEM ADMINISTRATOR', 'MANAGER', 'QUANTITATIVE SOFTWARE ENGINEER',
       ..., 'DEVELOPMENT MANAGER', 'SENIOR SOFTWARE DEVELOPER – RESEARCH',
       'CROSS ASSET FINANCIAL ENGINEER'], dtype=object)

In [8]:
company_roles2 = df_2022[df_2022['EMPLOYER_NAME'].isin(companies['NAME']) | df_2022['EMPLOYER_NAME'].isin(companies2['NAME']) | df_2022['EMPLOYER_NAME'].isin(companies3['NAME'])].copy()
company_roles2['WORKSITE_CITY'] = company_roles2['WORKSITE_CITY'].str.upper()
company_roles2['WORKSITE_STATE'] = company_roles2['WORKSITE_STATE'].str.upper()
company_roles2['JOB_TITLE'] = company_roles2['JOB_TITLE'].str.upper()
company_roles2['JOB_TITLE'] = company_roles2['JOB_TITLE'].apply(clean_up)
roles2 = company_roles2['JOB_TITLE'].unique()
roles2

array(['QUANTITATIVE TRADER', 'DIRECTOR FINANCE',
       'DIRECTOR / BA LEAD MKTS (MGR)',
       'ASSOCIATE GLOBAL FUND AND ACCOUNTING SERVICES',
       'EXECUTIVE DIRECTOR CREDIT RISK',
       'ASSOCIATE MIDWEST ADVISORY GROUP',
       'VICE PRESIDENT SALES AND TRADING',
       'ASSOCIATE DATA & AI SERVICES - REFERENCE & MARKET DATA',
       'ASSOCIATE BUSINESS OPERATIONS DATA SERVICES INTEGRATION',
       'DIRECTOR; INVESTMENT BANKER IV',
       'QUANTITATIVE ANALYST-QUANTITATIVE RISK',
       'GP&P SENIOR MANAGER (VP)', 'VICE PRESIDENT GLOBAL ALLOCATION',
       'RCA (RISK/COMPLIANCE/AUDIT) PROFESSIONAL',
       'CHIEF ENGINEER (MULTIPLE POSITIONS)',
       'SOFTWARE DEVELOPER (MULTIPLE POSITIONS)',
       'CHIEF ENGINER (MULTIPLE POSITIONS)',
       'IT ADV PI - TECH CONS - TECH TRANS - TECH OPS - MANAGER',
       'APPLICATION SUPPORT', 'SOFTWARE DEVELOPER',
       'SOFTWARE ENGINEERING',
       'ASSISTANT VICE PRESIDENT / PROGRAMMER MKTS',
       'VICE PRESIDENT / PROGRAMMER PROF MKTS', 'SENIOR ENGINEER',
       'VICE PRESIDENT INVESTMENT SYSTEMS PORTFOLIO MANAGEMENT',
       'PRINCIPAL SOFTWARE ENGINEER/DEVELOPER', 'SOFTWARE ENGINEER',
       'SYSTEMS ENGINEER SENIOR INFORMATICA ADMINISTRATOR',
       'DATABASE ADMINISTRATOR - MAINFRAME DB2',
       'ASSOCIATE QUANTITATIVE ANALYTICS ASSOCIATE SR.',
       'SR. MANAGER SOFTWARE APPLICATIONS ENGINEER', 'TECHNOLOGY MANAGER',
       'ASSURANCE SENIOR ASSOCIATE ACTUARIAL INSURANCE MANAGEMENT SOLUTIONS',
       'RESEARCHER FUSION', 'QUANTITATIVE RESEARCHER', 'TEAM LEADER',
       'PRODUCT MANAGER COMPLIANCE AUTOMATION', 'MANAGER', 'CONSULTANT',
       'CORE ASSURANCE SENIOR ASSOCIATE',
       'TAX ACCOUNTANT INTERNATIONAL TAX SERVICES (TRANSFER PRICING) (MANAGER)',
       'TAX SENIOR ASSOCIATE TRANSFER PRICING', 'VICE PRESIDENT',
       'TAX MANAGER INTERNATIONAL TAX SERVICES',
       'SENIOR MANAGER PROCESS ASSURANCE GENERALIST', 'ASSOCIATE',
       'FIN. QUAN. ANALYST-(FSRM)(STRUCTURED FINANCE)(FSO) SR.',
       'INFORMATION SECURITY MANAGEMENT',
       'ASSISTANT VICE PRESIDENT; SOFTWARE ENGINEER II',
       'VICE PRESIDENT / BA PROFESSIONAL MKTS',
       'VICE PRESIDENT / FEATURE LEAD – TECHNOLOGY',
       'ASSISTANT VICE PRESIDENT / SOFTWARE ENGINEER II',
       'ASSURANCE MANAGER INNOVATION DEVELOPMENT', 'SENIOR DATA ENGINEER',
       'ASSISTANT VICE PRESIDENT; PROGRAMMER PROF MKTS',
       'SR. SOFTWARE DEVELOPMENT ENGINEER IN TEST',
       'ASSISTANT VICE PRESIDENT / DATA SCIENTIST I',
       'VICE PRESIDENT; SR QUANTITATIVE FIN ANALYST',
       'MODEL RISK REVIEW SPECIALIST II', 'PRODUCT MANAGEMENT',
       'BUSINESS ANALYST PEOPLE ADVISORY SERVICES PERFORMANCE (SENIOR MANAGER)',
       'TAX ACCOUNTANT TAX ITTS STANDARD (MANAGER)',
       'TAX ACCOUNTANT TAX GCR (SENIOR)',
       'TAX ACCOUNTANT TAX GCR (REAL ESTATE) (MANAGER)',
       'TAX ACCOUNT COORDINATOR TAX (GCR - GLOBAL SERVICES) (MANAGER)',
       'STAFF ACCOUNTANT', 'CREDIT ANALYST', 'SENIOR FINANCIAL ANALYST',
       'ASSOCIATE BLACKROCK INDEX SERVICES (BIS)',
       'PERFORMANCE & ATTRIBUTION ANALYST', 'FINANCIAL ANALYSIS',
       'RISK ADV RISK TRANS.(REPM - IT RISK MGMT)(MGR)',
       'CYBER RISK ADVISOR -FSO (TECH.RISK)(CYBER RISK) SENIOR',
       'ASSOCIATE SOFTWARE ENGINEERING', 'SENIOR QA AUTOMATION ENGINEER',
       'BUSINESS ANALYST – INFRASTRUCTURE',
       'VICE PRESIDENT SOFTWARE EQUITY RESEARCH',
       'ASSET / LIABILITY MANAGER',
       'APPLICATIONS DEVELOPMENT TECHNICAL LEAD ANALYST',
       'DATA ENGINEER SENIOR', 'PRINCIPAL SOFTWARE DEVELOPER',
       'ASSOCIATE ENGAGEMENT AND GOVERNANCE',
       'DIRECTOR ACTUARIAL SERVICES',
       'TAX MANAGER INSOURCED SOLUTIONS FOR TAX - INTERNATIONAL TAX',
       'ADVISORY MANAGER FINANCIAL DUE DILIGENCE',
       'TAX MANAGER PRIVATE COMPANY SERVICES',
       'TAX SENIOR MANAGER CORPORATE AND FINANCIAL SERVICES',
       'VICE PRESIDENT INVESTOR RELATIONS', 'IT LEAD BUSINESS ANALYST',
       'STAFF SOFTWARE DEVELOPMENT ENGINEER', 'HERMES TECHNICAL LEAD',
       'SENIOR TECHNICAL SOFTWARE DEVELOPER',
       'REGULATORY COMPLIANCE TECHNOLOGY (RCT) ENGINEER',
       'AVP SENIOR DATABASE DEVELOPER IDENTITY & ACCESS MANAGEMENT ENGINEERING',
       'ASSOCIATE SOFTWARE ENGINEER TESTING',
       'PRODUCTION ANALYTICS ANALYST',
       'BUS. ANALYST TAS (S&O) DS&M - MGR',
       'TAX ADVISOR INTERNAT.TAX AND TRANSACTION TAX SER.(TRANSACTION TAX)(SENIOR)',
       'TAS - CT- (VBM - TRE) MGR',
       'VICE PRESIDENT MULTI-ASSET INCOME RESEARCH AND PORTFOLIO MANAGEMENT',
       'VICE PRESIDENT APPLICATION ENGINEERING',
       'ASSISTANT VICE PRESIDENT', 'SENIOR IT SECURITY PROFESSIONAL',
       'BUS. ANALYST TAS (S&O -CYBER) MGR',
       'SR TEAM MANAGER SOFTWARE DEVELOPMENT & ENGINEERING',
       'VICE PRESIDENT SENIOR SOFTWARE ENGINEER',
       'SENIOR SOFTWARE ENGINEER/DEVELOPER',
       'SR STAFF SOFTWARE DEVELOPMENT ENGINEER',
       'MANAGER SERVICE DELIVERY', 'PRINCIPAL DATA ANALYST',
       'ASSOCIATE DIRECTOR',
       'TAX ACCOUNTANT BUSINESS TAX SERVICES PRIVATE CLIENT SERVICES (SENIOR)',
       'TAX ADVISOR FSO (TTS - TAX TECH & TRANS.)(PFTT)(SENIOR)',
       'MANAGER ADVISORY',
       'TAX ACCOUNTANT TAX GLOBAL COMPLIANCE & REPORTING (REAL ESTATE) (MANAGER)',
       'FINANCIAL ADV TAS - CT(VME - BV) MGR',
       'CONSULTANT SECURITIES PRICING',
       'CGP (ROBOTICS PROCESS AUTOMATION DEVELOPER) MGR',
       'VICE PRESIDENT; CNSLT - APPS PROG', 'FULL STACK DEVELOPER',
       'APPLICATION SYSTEMS ENGINEER 5', 'VICE PRESIDENT DEVELOPER',
       'SENIOR AUTOMATION ENGINEER',
       'DIRECTOR NORTH AMERICAN INSTITUTIONAL CLIENT GROUP',
       'SENIOR MANAGER', 'PROCESS ASSURANCE SENIOR ASSOCIATE',
       'ADVISORY MANAGER FINANCE DUE DILIGENCE', 'ASSOCIATE FIXED INCOME',
       'APPLICATION SECURITY COORDINATOR II',
       'ASSOCIATE APPLICATION DEVELOPMENT',
       'CONSULTANT DATA SYSTEMS AND ANALYTICS',
       'TECHNICAL PROGRAM MANAGER',
       'STRATEGY ADVISOR PI (STRATEGY)(CORPORATE & GROWTH)(MANAGER)',
       'AUDIT ADVISOR ASSURANCE (AUDIT SERVICES - LIFE SCIENCES) (SENIOR MANAGER)',
       'AUDITOR - ASSURANCE (AUDIT SERVICES) (SENIOR)',
       'TAX ACCOUNTANT TAX GLOBAL COMPLIANCE & REPORTING (REAL ESTATE) (SENIOR)',
       'AUDITOR ASSURANCE (AUDIT SERVICES) PRIVATE CLIENT SERVICES (MANAGER)',
       'AUDITOR - ASSURANCE JAPANESE BUS. SRVS. (AUDIT SERVICES)(MANAGER)',
       'FINANCIAL PLANNING & ANALYSIS SR. LEAD ANALYST',
       'ASSOCIATE HIGH YIELD CREDIT RESEARCH',
       'FINANCIAL ADV TAS - CT (VME - DME) SR.',
       'ASSISTANT DIRECTOR - RESEARCH',
       'VICE PRESIDENT NETWORK ENGINEER GLOBAL NETWORK TEAM',
       'RISK ADVISOR RISK TRANS. (GRC-ORACLE) (MANAGER)',
       'ASSOCIATE SOFTWARE ENGINEER APPLICATIONS', 'SOFTWARE ENGINEER II',
       'VICE PRESIDENT APG-BOES-ENTERPRISE SYSTEMS',
       'DIGITAL SOFTWARE ENGINEERING SENIOR ANALYST',
       'SENIOR DATABASE ADMINISTRATOR',
       'ASSOCIATE PRIVILEGED SYSTEM ADMINISTRATION',
       'ASSOCIATE METEOROLOGIST',
       'SENIOR VP HEAD OF MORTGAGE PRICING STRATEGY AND TRAINING',
       'VICE PRESIDENT OIL & GAS ORIGINATION & JUNIORS POOL MANAGER',
       'CHIEF ENGINEER', 'VICE PRESIDENT TECHNOLOGY SOLUTIONS',
       'VICE PRESIDENT APPLICATION DEVELOPMENT LEAD',
       'INFORMATION SECURITY SPECIALIST', 'SENIOR SOFTWARE ENGINEER',
       'SENIOR IT SUPPORT ANALYST',
       'ACTUARIAL SERV. ADVISOR - (IAAS)(LIFE AND HEALTH)(FSO) (MGR)',
       'SENIOR QUANTITATIVE RESEARCHER', 'ANALYST INVESTMENT RESEARCH',
       'VICE PRESIDENT COUNSEL', 'TAX SENIOR MANAGER TRANSFER PRICING',
       'MANAGER AUDIT', 'ASSOCIATE FINANCIAL INSTITUTIONS GROUP (FIG)',
       'SENIOR PRODUCT MANAGER - COMMERCIALIZATION – NORTH AMERICA',
       'ASSOCIATE MARKET RISK', 'INVESTMENT STRATEGIST',
       'QUANTITATIVE STRATEGIST', 'IT ANALYST',
       'SENIOR TECHNICAL ANALYST DEVOPS AND DATA SCIENCE',
       'VICE PRESIDENT QUANTITATIVE RESEARCH',
       'SR. ASSOCIATE INFORMATION SECURITY',
       'AUTHORIZED OFFICER IT SUPPORT ANALYST',
       'ASSURANCE MANAGER DEALS TRANSACTION SERVICES',
       'BUSINESS ANALYST PEOPLE ADVISORY SERVICES PERF. (LIFE SCIENCES) (MANAGER)',
       'RISK ASSURANCE SENIOR ASSOCIATE PROCESS ASSURANCE',
       'CORE ASSURANCE MANAGER EXTERNAL AUDIT GENERALIST',
       'VICE PRESIDENT – CMS MANAGER', 'BANKER',
       'SENIOR VICE PRESIDENT ACCOUNT MANAGER',
       'VICE PRESIDENT PRODUCT DEVELOPER AND STRATEGIST',
       'SENIOR SYSTEMS ANALYST', 'ASSOCIATE JAVA/J2EE DEVELOPER',
       'ASSOCIATE SOFTWARE APPLICATION DEVELOPER',
       'VICE PRESIDENT SOFTWARE ENGINEERING',
       'IT QUALITY TECHNICAL LEAD ANALYST',
       'ASSOCIATE INFRASTRUCTURE DEVELOPMENT', 'BUSINESS MANAGEMENT',
       'MODEL/ANALYSIS/VALIDATION GROUP MANAGER', 'EXECUTIVE DIRECTOR',
       'DIRECTOR SALES CPB LATAM', 'TAX ACCOUNTANT BTS PCS (SENIOR)',
       'QUANTITATIVE ANALYST', 'PROGRAM MANAGER ENTERPRISE RISK',
       'WORKDAY SECURITY CONFIGURATION LEAD', 'PROGRAMMER ANALYST IV',
       'SENIOR UX DESIGNER (BLP)', 'APPLICATION SYSTEM ENGINEER 5',
       'SALESFORCE SOFTWARE ENGINEER', 'TECHNOLOGY SOFTWARE ENGINEER',
       'SENIOR SOFTWARE DEVELOPER',
       'SENIOR ANALYST APPLICATION DEVELOPMENT', 'SENIOR DATA ANALYST',
       'MANAGER QUANTITATIVE ANALYSIS CREDIT RISK',
       'QUANTITATIVE RESEARCH ANALYST – SOLUTIONS',
       'FX SETTLEMENT ANALYST', 'VICE PRESIDENT MARKET STRATEGY',
       'MANAGER TAX AND TREASURY',
       'MGMT ADV. TRANS. EXE.(PRGM MGMT)(PROJ. PORT. MGMT)(MGR)',
       'SENIOR ASSOCIATE EXTERNAL AUDIT GENERALIST',
       'TAX SENIOR ASSOCIATE FINANCIAL MARKETS', 'INVESTMENT SPECIALIST',
       'VP/QUANTITATIVE RESEARCH ASSOCIATE',
       'ASSISTANT DIRECTOR – SENIOR QUANTITATIVE FINANCIAL ANALYST',
       'ASSURANCE SENIOR MANAGER RISK MANAGEMENT AND COMPLIANCE SOLUTIONS',
       'DIGITAL TECH PRODUCT MANAGEMENT LEAD ANALYST',
       'ASSOCIATE SOFTWARE ENGINEER', 'SYSTEMS SUPPORT ENGINEER',
       'ASSOCIATE DIRECTOR - SENIOR QA SPECIALIST', 'VP DATA SCIENTIST',
       'CHIEF ENGINEER (MULITPLE POSITIONS0',
       'DIGITAL SOFTWARE ENGINEER LEAD ANALYST',
       'INFRASTRUCTURE AND CLOUD SECURITY ARCHITECT',
       'ASSOCIATE INFRASTRUCTURE ENGINEERING', 'DIGITAL MARKETING LEAD',
       'GFI PORTFOLIO CONSTRUCTION SPECIALIST', 'PRODUCT DEVELOPMENT',
       'INFRASTRUCTURE DEVELOPMENT',
       'CONSUMER SALES SUPPORT SR LEAD ANALYST',
       'EXECUTIVE DIRECTOR HEAD OF BUSINESS AGILITY AND TRANSFORMATION',
       'TAX ANALYST PEOPLE ADVISORY SERVICES MOBILITY GLOBAL EQUITY (MANAGER)',
       'TRADER', 'FUNDAMENTAL ANALYST',
       'ANALYSIS & REPORTING SR. ANALYST',
       'ORACLE REVENUE MANAGEMENT AND BILLING (ORMB) APPLICATIONS MANAGER',
       'DIGITAL S/W ENGINEER SENIOR ANALYST (VP)',
       'DIRECTOR DATA SCIENCE', 'CONSULTANT BUSINESS ANALYSIS',
       'DATA ANALYST', 'ASSISTANT VICE PRESIDENT ELECTRONIC QUANTS GROUP',
       'VICE PRESIDENT-TECHNOLOGY BANKING',
       'VICE PRESIDENT QUALITATIVE MODEL REVIEW',
       'PORTFOLIO OPERATIONS – SENIOR PORTFOLIO ASSOCIATE',
       'COMPENSATION SOLUTIONS ARCHITECT', 'APPLICATIONS SUPPORT ANALYST',
       'APPLICATIONS SUPPORT', 'VICE PRESIDENT BUSINESS ANALYSIS',
       'DATABASE ENGINEER', 'DATABASE MANAGEMENT', 'QUANT ANALYTICS',
       'PRINCIPAL ASSOCIATE QUANTITATIVE ANALYSIS CREDIT RISK',
       'SENIOR BUSINESS ANALYST', 'MODEL REVIEW',
       'DATA SCIENTIST DIRECTOR-PRODUCT & SERVICE ANALYTICS',
       'TAX SENIOR MANAGER INTERNATIONAL TAX SERVICES GENERALIST',
       'QUANTITATIVE FINANCIAL ANALYST', 'BUSINESS SYSTEMS ANALYST',
       'PRODUCT AND MARKETING', 'SENIOR MANAGER PRODUCT DEVELOPMENT',
       'SENIOR STAFF SOFTWARE APPLICATIONS ENGINEER',
       'SENIOR APPLICATION PERFORMANCE ENGINEER',
       'ASSURANCE SENIOR MANAGER DATA SCIENTIST',
       'TAX ACCOUNTANT TAX GCR (REAL ESTATE)(SENIOR)',
       'CORE ASSURANCE SENIOR MANAGER EXTERNAL AUDIT GENERALIST',
       'ASSURANCE SENIOR ASSOCIATE – CAPITAL MARKETS ACCOUNTING',
       'TAX MANAGER DATA AUTOMATION', 'STRUCTURER',
       'AVP PORTFOLIO MANAGER',
       'RESEARCH ASSOCIATE (FINANCE SPECIALIZATION)',
       'APPLICATIONS DEVELOPMENT SENIOR PROGRAMMER ANALYST',
       'IT BUSINESS ANALYST', 'SENIOR ENGINEER DATA',
       'MANAGER DATA SCIENCE', 'CAPITAL MARKETS OFFICER',
       'SALES AND MARKETING OFFICER',
       'VICE PRESIDENT CLIENT EXPERIENCE MANAGEMENT INQUIRIES',
       'SENIOR ASSOCIATE', 'PRINCIPAL', 'CONTROLLER',
       'ALTERNATIVE SOLUTIONS', 'PRODUCT MANAGER',
       'ASSOCIATE GSO – SOFTWARE ENGINEER', 'INFRASTRUCTURE ENGINEER',
       'SENIOR INFRASTRUCTURE ENGINEER', 'ANALYST TAS(TD-TS)(MGR)',
       'SENIOR AUDITOR', 'SOFTWARE ENGINEER SR.',
       'STAFF SOFTWARE DEVELOPER',
       'ASSOCIATE QUANTITATIVE RESEARCH & OPTIMIZATION',
       'IT AUDIT PROGRAM MANAGER',
       'IT ANALYST ITA A&P(POL./BILL. - DATA)-FSO (MANAGER)',
       'TAS-(TD-IT)(MGR)',
       'TAX SENIOR ASSOCIATE CORPORATE TAX - FINANCIAL SERVICES',
       'FIN. ADV TAS(CT- VME-BV) MGR.', 'DIRECTOR; SENIOR TRADER',
       'FIN ADV TAS (CT- VME - BV) MGR', 'LATAM VICE PRESIDENT',
       'VICE PRESIDENT & PORTFOLIO MANAGER/ANALYST-CONVERTIBLE BONDS',
       'TRADER (ONE DELTA INDEX)',
       'IT ANALYST ITA A&P (POL./BILL. - INTEG.) - FSO (MNGR)',
       'NETWORK SECURITY SPECIALIST',
       'VICE PRESIDENT; INFO SECURITY EXPOSURE MGMT SPECIALIST',
       'VICE PRESIDENT; SOFTWARE ENGINEER III - CA',
       'ASSISTANT VICE PRESIDENT / CNSLT – APPS PROG',
       'SENIOR VICE PRESIDENT / SOFTWARE ENGINEER III',
       'VICE PRESIDENT; SOFTWARE ENGINEER III',
       'APPLICATION DEVELOPMENT/MAINTENANCE',
       'AVP SPARK/JAVA DEVELOPER RFT TECH', 'SENIOR DEVELOPER',
       'BI CONSULTANT 2', 'VICE PRESIDENT QUALITY ASSURANCE',
       'SENIOR ACTUARIAL ANALYST ACTUARIAL FINANCIAL REPORTING',
       'QUANTITATIVE DEVELOPER', 'DIRECTOR RISK MANAGEMENT',
       'HR GENERALIST LEAD',
       'RISK ADVISOR RISK - INTERNAL AUDIT P&C (FSO) (MANAGER)',
       'ASSURANCE ADVISOR AUDIT ASSET MANAGEMENT (FSO) (SENIOR)',
       'TAX ADVISOR FSO (TTS - TT&T)(PFTT) (MANAGER)',
       'TAX ACCOUNTANT GCR WAM - FSO (MANAGER)',
       'DIRECTOR; SENIOR SECURITIES/PRODUCT SALESPERSON',
       'VICE PRESIDENT; SECURITIES/PRODUCT SALESPERSON',
       'FINANCIAL ANALYST - (FSRM)(STRUCTURED FINANCE)(FSO) MGR',
       'SENIOR MANAGER RISK MANAGEMENT',
       'IT ADVISOR D&ET (TSD - SUPPLY CHAIN & OPS. - SUPPLY CHAIN PLAN.) (MANAGER)',
       'IT ADV PI - TECH. CONS.- (DATA & ANALYTICS-DATA SCIENCE)MGR',
       'IT ADVTECH. CONS.- DATA & ANALYTICS - DATA. SCI.(MGR)',
       'VICE PRESIDENT; INFO SECURITY THREAT MGMT SPECIALIST',
       'IT ADVISOR ENTERPRISE INTELLIGENCE (BIG DATA)(MANAGER)',
       'LEAD I SOFTWARE DEVELOPMENT/ENGINEERING APPLICATION OPERATIONS',
       'SENIOR SEARCH APPLICATION DEVELOPER', 'AVP/SENIOR CRM DEVELOPER',
       'AVP AXIOM DEVELOPER',
       'ASSISTANT VICE PRESIDENT / PROGRAMMER PROF MKTS',
       'AVP / SENIOR PROGRAMMER',
       'AUTHORIZED OFFICER IT SOFTWARE ENGINEER',
       'SR SOFTWARE DEVELOPMENT ENGINEER - QA',
       'ACTUARIAL SERV. ADVISOR - (IAAS)(HEALTH)(FSO) (MGR)',
       'ACTUARY PEOPLE ADVISORY SERVICES (REWARDS) (SENIOR)',
       'MACHINE LEARNING SPECIALIST', 'STRATEGIC ANALYTICS',
       'ASSOCIATE-STRUCTURING', 'RISK OFFICER',
       'VICE PRESIDENT; SR DATA ANALYST', 'SR. CYBERSECURITY ENGINEER',
       'ASSISTANT VICE PRESIDENT / SCRUM MASTER I',
       'VICE PRESIDENT / ARCHITECT',
       'SENIOR TEST AUTOMATION ENGINEER TECHNOLOGY',
       'SENIOR MANAGER SOFTWARE ENGINEERING',
       'SENIOR APPLICATION DEVELOPER',
       'ASSISTANT VICE PRESIDENT; CNSLT - APPS PROG',
       'AVP/PROGRAMMER ANALYST',
       'ASSISTANT VICE PRESIDENT / CNSLT - SYSTEMS ENG',
       'PROJECT EXECUTION',
       'AUDITOR - ASSURANCE (AUDIT SERVICES) (MANAGER)',
       'RELATIONSHIP MANAGER CLIENT COVERAGE FOR CORPORATE CLIENTS – CHICAGO',
       'SYSTEMS ANALYST', 'VICE PRESIDENT CRM SOFTWARE DEVELOPER',
       'VP MACRO STREAMING PRICING DEVELOPER', 'SOFTWARE SENIOR ENGINEER',
       'QUANTITATIVE RESEARCH ANALYST',
       'QUANTITATIVE ANALYTICS LEAD ASSOCIATE RISK MODELING & ANALYTICS',
       'QUANTITATIVE ANALYTICS LEAD ASSOCIATE TECHNOLOGY OPERATIONS AND SERVICES',
       'QUANTITATIVE ANALYTICS LEAD ASSOCIATE MODEL RISK',
       'QUANTITATIVE ANALYTICS SR. ASSOCIATE RISK MODELING & ANALYTICS',
       'QUANTATIVE ANALYTICS ASSOCIATE RISK MODELING & ANALYTICS',
       'SENIOR MANAGING DIRECTOR TRANSFORMATION',
       'ANALYST TAS (WCAS) MGR', 'VALUATION ADVTAS (VME - CE) MGR',
       'DIRECTOR GRM CREDIT', 'VICE PRESIDENT BLOCKCHAIN LEAD',
       'IT ADVISOR IT ADV. PI (TECH. CON. - TECH TRANS.) (STRATEGY) (MANAGER)',
       'SR PRINCIPAL PRODUCT MANAGEMENT',
       'IT ANALYST ITA A&P (POLICY/BILLING - FBA)-FSO (MNGR)',
       'VICE PRESIDENT / CNSLT – APPS PROG', 'SOFTWARE DEVELOPER III',
       'VICE PRESIDENT; QUANTITATIVE SERVICES SENIOR PROFESSIONAL',
       'ASSISTANT VICE PRESIDENT / ASD PROFESSIONAL MKTS',
       'LEAD I SOFTWARE DEVELOPMENT/ENGINEERING', 'IM CONSULTANT 2',
       'SR STAFF SOFTWARE QA ENGINEER', 'REPORTING AND ANALYTICS MANAGER',
       'SR. CONSULTANT IN CONSTRUCTION MANAGEMENT',
       'SUPPLY CHAIN ADVISOR TRANS. EXE. (TRANSF.)(MANAGER)',
       'TAX ADVISOR NAT. TAX (INTELL. AUTO. - TAX TECH. & TRANSFORM.)(MANAGER)',
       'TAX ADV. - NAT. TAX (FIDUCIARY TRUST TAX SVCS)(SR. ANALYST)',
       'TAX ACCOUNTANTTAXGLOBAL COMPLIANCE&REPORTING(MANAGER)',
       'TAX ACCOUNTANT INTERNATIONAL TAX SERVICES ITTS STANDARD (MANAGER)',
       'ASSURANCE SENIOR ASSOCIATE EXTERNAL AUDIT GENERALIST',
       'TAX ACCOUNTANT TAX GLOBAL COMPLIANCE & REPORTING (MANAGER)',
       'TAX MANAGER INVESTMENT MANAGEMENT',
       'SENIOR EQUITIES ANALYST – ASIAN SPECIALIST',
       'APPLICATIONS SUPPORT SR. MANAGER',
       'VICE PRESIDENT FINANCIAL ANALYSIS',
       'QUANTITATIVE RESEARCH ENGINEER',
       'IT ADVISOR TSD (FIN. MGMT) - FSO (MANAGER)',
       'LEAD BUSINESS SYSTEMS ANALYST', 'SENIOR USER ANALYTICS PARTNER',
       'CGP (CYBER SECURITY - IAM)(IAM) MGR',
       'IT ADVISOR FSO - (DATA ENGINEER)(MANAGER)',
       'SENIOR SOFTWARE ENGINEERING ASSOCIATE',
       'ASSOCIATE PYTHON/DATA ENGINEER',
       'AVP SOFTWARE DEVELOPER RFT TECH GROUP TREASURY & LIQUIDITY',
       'DATA SOLUTIONS ARCHIECT', 'ASSOCIATE QUALITY ASSURANCE',
       'ACTUARY PEOPLE ADVISORY SERVICES (ANALYTICS) (MANAGER)',
       'VP TRADER', 'VP U.S. ECONOMICS RESEARCH',
       'HUMAN RESOURCES SPECIALIST',
       'EXECUTIVE DIRECTOR SECURITIZED PRODUCTS RESEARCHER',
       'VICE PRESIDENT / ARCHITECT 2',
       'SR. ASSOCIATE PLATFORM & DELIVERY MANAGEMENT',
       'SALESFORCE INTEGRATION LEAD',
       'VICE PRESIDENT / CONSULTANT I - DB ADM/ANLY',
       'SOFTWARE ENGINEER IN TEST',
       'SENIOR ASSOCIATE QUANTITATIVE ANALYSIS CREDIT RISK',
       'RISK ADVISOR RISK (INTERNAL AUDIT) MANAGER',
       'TAX DATA ANALYST BTS (QUANTITATIVE SERVICES) MGR',
       'AVP RESEARCH ANALYST',
       'VICE PRESIDENT / INVESTOR RELATIONS MANAGER',
       'FIN. ADV TAS-VME-BV-FSO (MANAGER)', 'AVP / BFC P&L ASSOCIATE',
       'MSBF TRANSACTOR PRINCIPAL',
       'RISK ASSURANCE SENIOR ASSOCIATE COMPLIANCE ANALYTICS',
       'COMMODITIES RISK ANALYST',
       'IT ANALYST IT ADV. INSUR. (LIFE ARCH.) - FSO (MNGR)',
       'RISK ASSURANCE MANAGER SAP RISK ASSURANCE INFORMATION TECHNOLOGY',
       'SENIOR ANALYST', 'APPS DEV TECH LEAD ANALYST',
       'LEAD SOFTWARE APPLICATION ENGINEER', 'SR. ANDROID DEVELOPER',
       'SOFTWARE ENGINEERING ASSOCIATE', 'SOFTWARE DEVELOPER SENIOR',
       'PRINCIPAL – ARCHITECTURE', 'VICE PRESIDENT PROJECT EXECUTION',
       'QUALITY ASSURANCE', 'ETL ARCHITECT',
       'VICE PRESIDENT ANALYTICS EXPERT', 'RESEARCH ANALYST',
       'PRINCIPAL ASSOCIATE DATA SCIENCE',
       'SENIOR ASSOCIATE DATA SCIENCE',
       'HEAD OF NA SECURITIES LENDING EQUITY TRADING',
       'GTRF CLIENT SERVICES MANAGER', 'VICE PRESIDENT ADMINISTRATION',

In [34]:
all_roles = np.unique(np.concatenate((roles, roles2), axis=None))
all_role_df = pd.DataFrame(all_roles, columns = ['NAME'])
all_role_df = all_role_df.reset_index(drop=True)
all_role_df.to_csv('roles.csv')

In [11]:
roles = pd.read_csv("roles_final.csv", low_memory=False)
roles

       ROLE_ID                                            NAME
0            0                      .NET & FRONT-END DEVELOPER
1            1     .NET APPLICATION DEVELOPER- TEST AUTOMATION
2            2                       .NET AUTOMATION DEVELOPER
3            3                                  .NET DEVELOPER
4            4         .NET DEVELOPER ASSISTANT VICE PRESIDENT
...        ...                                             ...
22645    22645  WORLD TRADER AND GLOBALIZATION SENIOR REPORTER
22646    22646      WQ INFRASTRUCTURE ALIGNED SYSTEMS ENGINEER
22647    22647                       XVA QUANT- VICE PRESIDENT
22648    22648                              YIELD BOOK ANALYST
22649    22649           [FINANCIAL] ANALYST STRUCTURED CREDIT

[22650 rows x 2 columns]

In [14]:
cr = pd.DataFrame(columns = ['COMPANY_ID', 'ROLE_ID'])

for index, row in companies.iterrows():
    temp = company_roles.loc[company_roles['EMPLOYER_NAME'] == row['NAME']]
    temp.reset_index()
    for i, r in temp.iterrows():
        c_id = row['COMPANY_ID']
        r_id = roles.loc[roles['NAME'] == r['JOB_TITLE']]
        if len(r_id) == 0:
            continue
        cr = cr.append({'COMPANY_ID': c_id, 'ROLE_ID': r_id['ROLE_ID'].item() }, ignore_index=True)

cr

     COMPANY_ID ROLE_ID
0             0    2931
1             1   20040
2             2   10749
3             3   13003
4             3   14523
...         ...     ...
3880        289   14165
3881        289   16124
3882        289    5690
3883        290   16801
3884        291   14369

[3885 rows x 2 columns]

In [15]:
for index, row in companies3.iterrows():
    temp = company_roles.loc[company_roles['EMPLOYER_NAME'] == row['NAME']]
    temp.reset_index()
    for i, r in temp.iterrows():
        c_id = row['COMPANY_ID']
        r_id = roles.loc[roles['NAME'] == r['JOB_TITLE']]
        if len(r_id) == 0:
            continue
        cr = cr.append({'COMPANY_ID': c_id, 'ROLE_ID': r_id['ROLE_ID'].item() }, ignore_index=True)

cr

     COMPANY_ID ROLE_ID
0             0    2931
1             1   20040
2             2   10749
3             3   13003
4             3   14523
...         ...     ...
4063        524    3569
4064        545   14739
4065        547   17409
4066        552   13294
4067        556     384

[4068 rows x 2 columns]

In [18]:
for index, row in companies.iterrows():
    temp = company_roles2.loc[company_roles2['EMPLOYER_NAME'] == row['NAME']]
    temp.reset_index()
    for i, r in temp.iterrows():
        c_id = row['COMPANY_ID']
        r_id = roles.loc[roles['NAME'] == r['JOB_TITLE']]
        if len(r_id) == 0:
            continue
        cr = cr.append({'COMPANY_ID': c_id, 'ROLE_ID': r_id['ROLE_ID'].item() }, ignore_index=True)

cr

     COMPANY_ID ROLE_ID
0             0    2931
1             1   20040
2             2   10749
3             3   13003
4             3   14523
...         ...     ...
5000        285    9324
5001        285    6591
5002        288   19731
5003        289    3708
5004        289   11474

[5005 rows x 2 columns]

In [20]:
for index, row in companies3.iterrows():
    temp = company_roles2.loc[company_roles2['EMPLOYER_NAME'] == row['NAME']]
    temp.reset_index()
    for i, r in temp.iterrows():
        c_id = row['COMPANY_ID']
        r_id = roles.loc[roles['NAME'] == r['JOB_TITLE']]
        if len(r_id) == 0:
            continue
        cr = cr.append({'COMPANY_ID': c_id, 'ROLE_ID': r_id['ROLE_ID'].item() }, ignore_index=True)

cr

     COMPANY_ID ROLE_ID
0             0    2931
1             1   20040
2             2   10749
3             3   13003
4             3   14523
...         ...     ...
5064        514   15946
5065        519   15946
5066        524   15357
5067        524   16218
5068        547   13757

[5069 rows x 2 columns]

In [21]:
cr.to_csv('temp_company_roles.csv')

In [47]:
h1b_comp_roles = pd.read_csv("company_roles.csv", low_memory=False)
h1b_comp_roles.drop(['ROLE_ID'], axis=1, inplace=True)
h1b_comp_roles.rename(columns={"ROLE_NAME": "NAME"}, inplace=True)
h1b_comp_roles

       COMPANY_ROLES_ID  COMPANY_ID                              NAME
0                     0           0  ASSOCIATE QUANTITATIVE ANALYTICS
1                     1           0  ASSOCIATE QUANTITATIVE ANALYTICS
2                     2           0  ASSOCIATE QUANTITATIVE ANALYTICS
3                     3           0                INVESTMENT ANALYST
4                     4           0  ASSOCIATE QUANTITATIVE ANALYTICS
...                 ...         ...                               ...
64356             64356         556      QUANTITATIVE DATA STRATEGIST
64357             64357         556                 PORTFOLIO MANAGER
64358             64358         556                      RISK ANALYST
64359             64359         556                           ANALYST
64360             64360         556                      RISK ANALYST

[64361 rows x 3 columns]

In [48]:
new_cr = h1b_comp_roles.merge(roles,on='NAME',how='left')
new_cr = new_cr.astype({'ROLE_ID': 'Int64'})
new_cr.drop(['COMPANY_ROLES_ID', 'NAME'], axis=1, inplace=True)
new_cr

       COMPANY_ID  ROLE_ID
0               0     3695
1               0     3695
2               0     3695
3               0    10695
4               0     3695
...           ...      ...
64356         556    14364
64357         556    13269
64358         556    14843
64359         556      384
64360         556    14843

[64361 rows x 2 columns]

In [49]:
all_comp_roles = new_cr.append(cr)
all_comp_roles = all_comp_roles.drop_duplicates()
all_comp_roles = all_comp_roles.reset_index()
all_comp_roles.drop(['index'], axis=1, inplace=True)
all_comp_roles.index.name = 'COMPANY_ROLES_ID'
all_comp_roles.to_csv('company_roles.csv')